<section class="login">
  <div class="titulo">
    <b>LISTA DE</b> COMPRAS
  </div>
  <div class="card-login">
    <p>Por favor, efetue o login para continuar</p>

    <form [formGroup]="loginForm">
      <input type="text" formControlName="email" class="form-control" placeholder="Email">
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
      <button type="submit" [disabled]="loginForm.invalid" (click)="login()">ENTRAR</button>
    </form>

    <a [routerLink]="['/cadastro']">Caso não possua cadastro click aqui</a>
  </div>
</section>